.DashboardContainer{
    background-color:#F2F2F2;;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.BlogContents{
    width: 100%;
    background-color: palegreen;
}


.TitleContents{
    display: flex;
    justify-content: space-between;
    background-color: #219ebc;
    width: 100%;
    height: 50px;
    /* width: 1000px; */
}



.FullContainer{
    padding-top: 30px;
    width: 60%;
}

.BodyContents{
    display: flex;
    justify-content: center;
    background-color: #caf0f8;
    width: 100%;
    height: 50px;
}

.TitleContents p{
    color: black;
    font-weight: bold;

}

.BodyContents p{
    color: black;
    font-weight: bold;
}

.FullContainer button{
    font-weight: bold;
    font-size: xx-large;
    
}

.button-container{
    text-align: center;
}

