
.menu-bar{
    height: 50px;
    padding: 15px;
    margin: 0;
    background-color:#343A40;
}

.menu-bar-items{
    display:flex;
    gap:20px;
    width:90%;
    justify-content: flex-start;
}

.items{
    color: #FFC107;

}



