
.login-container{
    display: flex;
    justify-content: center;
    padding: 20px;
 }


.loginContainer{
    background-color: #ECECEC;
    min-height: 100vh;
   
        
}

.loginContainerItems{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.signup-container{
    padding: 20px;
}


