.NewPostContainer{
    background-color: paleturquoise;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.NewPostItems{
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    padding-top: 50px;
    
}

.NewPostItems h3{
    color: white;
    height: 40px;
    color: blue;
    
}

.inputItems{
    background-color:lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.NewPostItems button{
    margin-top: 30px;
    background-color: lightcyan;
    cursor: pointer;
}

#createButton{
    padding: 10px;
}