.SearchContainer{
    background-color: #ECECEC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;

}

.SearchContainer h2 {
    text-align: center;
}

.SearchContainer textarea {
    width: 33%;
}

.SearchItems{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.folowButton{
    background-color: lightskyblue;
}

.folowButtonContainer{
    display: flex;
    justify-content: center;
}