.SearchContainer{
    background-color: #ECECEC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;

}

.SearchContainer h2 {
    text-align: center;
}

.SearchContainer textarea {
    width: 33%;
}

.SearchItems{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.SearchItems h2{
  font-weight: bold;
  font-size: xx-large;
}

.folowButtonContainer{
    display: flex;
    justify-content: center;
}


.folowButton {
    background-color: aqua;
}