.inputAreas{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.inputAreas p {
    font-weight: bold;
}

.Container{
    background-color: #F2F2F2;    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.innerContainer{
    width: 100%;
}

.Update{
    margin-top: 50px;
    background-color:#247ba0ff;
    width: 150px;
    height: 30px;
}

.Buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.Delete{
    background-color: red;
    width: 150px;
    height: 30px;
}

